/* CLICKABLE COLLECTION CARD */

.collection-card-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.collection-card-link:visited {
  color: inherit;
}

.collection-card-link:hover {
  background: var(--light-cream);
}

.collection-card-link:hover .collection-link {
  opacity: 0.6;
}